@import url('styles.css');

main {
    padding: 20px;
}
#intro div{
    background-color: #323232;
    border-radius: 12px;
    display: block;
    text-align: center;
    padding: 50px;
}

.intro-content .name{
    font-size: 40px;
    margin-bottom: 30.15px;
    font-weight: 700;

}

.intro-content img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.intro-content ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0;
    padding: 20px;
    list-style: none;
    flex:1;
}

.skill-content{
    display: block;
    text-align: center;
    margin: 20px;
    font-size: 30px;
    font-weight: 800;
    border-style: border-box;
}

.skills-list{
    margin: 0 auto;
    border-collapse: separate;
    width: 80%;
}

.skills-list ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 20px;
}

.skills-list th{
    font-size: 20px;
    padding: 12px;
    text-align: center;
    border-bottom: 2px solid #ffffff;
}

.skills-list li {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 999px;
    margin-bottom: 8px;
    transition: background-color 0.4s, color 0.4s;
}

.skills-list li:hover {
    background-color: #ffffff;
    color: #000000;
}