@import url("styles.css");

/* =========================
   SECTION TITLE
========================= */
.section-title {
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
}

.projects-section {
    margin: 20px;
}

/* =========================
   PROJECT GRID
========================= */
.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

/* =========================
   PROJECT CARD (FLIP BASE)
========================= */
.project-card {
    position: relative;
    height: 340px;

    background-color: transparent;
    perspective: 1000px;
}

/* =========================
   CARD FACES
========================= */
.project-card-front,
.project-card-back {
    position: absolute;
    inset: 0;

    background-color: #171717;
    color: #ffffff;
    border-radius: 16px;
    padding: 25px;

    backface-visibility: hidden;
    transition: transform 0.6s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* =========================
   FRONT FACE
========================= */
.project-card-front {
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: rotateY(0deg);
}

/* =========================
   BACK FACE
========================= */
.project-card-back {
    transform: rotateY(180deg);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card-back ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.project-card-back li {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 999px;
    margin-bottom: 8px;
    transition: background-color 0.4s, color 0.4s;
}

.project-card-back li:hover {
    background-color: #ffffff;
    color: #000000;
}

.project-card-front p {
    padding-top: 30px;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 15px;
}

/* =========================
   FLIP ON HOVER
========================= */
.project-card:hover .project-card-front {
    transform: rotateY(-180deg);
}

.project-card:hover .project-card-back {
    transform: rotateY(0deg);
}

/* =========================
   BUTTON
========================= */
.project-card input[type="button"] {
    width: 50%;
    border-radius: 12px;
    margin: 15px auto;

    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000;

    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;

    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.project-card input:hover {
    transform: translateY(-5px);
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.25);
}
